<header id="header" style="top: 0px">
    <div class="logo">
    <a href="/"
        ><img
        alt="Logo"
        loading="lazy"
        decoding="async"
        src="/assets/img/{{ comic.logo }}"
    /></a>
    </div>
    <input type="checkbox" class="menu-button" id="openSidebarMenu" /><label
    for="openSidebarMenu"
    class="sidebarIconToggle"
    ><div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div
    ></label>
    <nav class="menu">
        <ul>
            <li><a href="/">Read Comic</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>