<!DOCTYPE html>
<html>
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    {% include "header.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}
    <script src="/assets/js/scripts.js"></script>
  </body>
</html>
