/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
/* END OF RESET */

/* BASE */
body {
  background-color: #ddd;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(18, 18, 18, 0.75);
  letter-spacing: 0.0375rem;
}
h2 {
  font-weight: 400;
  font-size: 1.8rem;
}
a {
  color: rgba(18, 18, 18, 0.75);
}
p {
  line-height: 1.45rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
/* END OF BASE */

/* HEADER */
header {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  transition: top 0.3s;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  height: 4.5rem;
  overflow: hidden;
  z-index: 10;
  background-color: rgb(255, 255, 255);
}
.logo {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  letter-spacing: 0.6px;
  text-decoration: none;
  display: flex;
}
.logo a:hover {
  color: rgb(18, 18, 18);
}
.logo img {
  max-width: 90px;
  opacity: 1;
}
/* .logo img.first-load {
    animation: fadeInAnimation 0.5s ease-in-out;
  } */
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 30px;
  right: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgba(56, 56, 56);
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.menu {
  align-self: flex-start;
  margin: 0;
  height: 100%;
  position: fixed;
  right: -250px;
  width: 250px;
  margin-top: 70px;
  transition: transform 250ms ease-in-out;
  background: rgb(255, 255, 255);
}
.menu.active {
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
}
.menu.active ul {
  padding: 0 40px;
}
.menu ul li {
  display: block;
  margin: 25px 0;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.85);
  transition: all 800ms ease;
}
.menu a:hover {
  color: rgb(18, 18, 18);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

main {
  margin-top: 70px;
  overflow: auto;
}

@media screen and (min-width: 920px) {
  header {
    position: relative;
    box-shadow: none;
    overflow: auto;
    color: rgb(18, 18, 18);
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
  }

  .logo {
    position: relative;
    margin-left: 20px;
    text-align: left;
    width: auto;
  }

  .menu {
    align-self: inherit;
    margin-right: 20px;
    height: auto;
    position: relative;
    right: 0;
    width: auto;
    margin-top: 0;
  }

  .menu.active {
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
  }

  .menu ul {
    display: flex;
  }

  .menu.active ul {
    padding: 0;
  }

  .menu ul li {
    display: block;
    margin: 0;
    text-align: center;
  }

  .menu ul li {
    display: inline;
    margin-right: 20px;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }

  .menu-button {
    display: none;
  }

  .sidebarIconToggle {
    display: none;
  }

  main {
    margin-top: 0;
  }
}
/* END OF HEADER */
