/* VARIABLES */
:root {
  --background-color: rgb(255, 255, 255);
  --text-color-main: rgba(18, 18, 18, 0.75);
  --text-color-main-link-hover: rgb(18, 18, 18);
  --text-color-menu: rgba(18, 18, 18, 0.85);
  --text-color-menu-hover: rgb(18, 18, 18);
  --button-background-color: rgb(255, 255, 255);
  --button-background-color-hover: rgba(18, 18, 18, 0.1);
  --button-text-color: rgba(18, 18, 18, 0.85);
  --button-text-color-hover: rgb(18, 18, 18);
  --button-border-color: rgba(18, 18, 18, 0.75);
  --button-border-color-hover: rgba(18, 18, 18, 0.75);
  --tip-jar-button-background-color: rgb(255, 255, 255);
  --tip-jar-button-background-color-hover: rgba(18, 18, 18, 0.1);
  --tip-jar-button-text-color: rgba(18, 18, 18, 0.85);
  --tip-jar-button-text-color-hover: rgb(18, 18, 18);
  --tip-jar-button-border-color: rgba(18, 18, 18, 0.75);
  --tip-jar-button-border-color-hover: rgba(18, 18, 18, 0.75);
}
/* END OF VARIABLES */

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
/* END OF RESET */

/* BASE */
html {
  touch-action: manipulation;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color-main);
  letter-spacing: 0.0375rem;
  background-color: var(--background-color);
}
h2 {
  font-weight: 400;
  font-size: 1.8rem;
}
a {
  color: var(--text-color-main);
}
a:hover {
  color: var(--text-color-main-link-hover);
}
p {
  line-height: 1.45rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
/* END OF BASE */

/* HEADER */
header {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  transition: top 0.3s;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  height: 4.5rem;
  overflow: hidden;
  z-index: 10;
  background-color: var(--background-color);
}
.logo {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  letter-spacing: 0.6px;
  text-decoration: none;
  display: flex;
}
.logo img {
  max-width: 100px;
  opacity: 1;
}
/* .logo img.first-load {
    animation: fadeInAnimation 0.5s ease-in-out;
  } */
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 30px;
  right: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--text-color-menu);
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.menu {
  align-self: flex-start;
  margin: 0;
  height: 100%;
  position: fixed;
  right: -250px;
  width: 250px;
  margin-top: 70px;
  transition: transform 250ms ease-in-out;
  background: var(--background-color);
}
.menu.active {
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
}
.menu.active ul {
  padding: 0 40px;
}
.menu ul li {
  display: block;
  margin: 25px 0;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: var(--text-color-menu);
  transition: all 800ms ease;
}
.menu a:hover {
  color: var(--text-color-menu-hover);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

main {
  margin-top: 4.5rem;
  overflow: auto;
}

@media screen and (min-width: 920px) {
  header {
    position: relative;
    box-shadow: none;
    overflow: auto;
    color: var(--text-color-menu);
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
  }

  .logo {
    position: relative;
    margin-left: 20px;
    text-align: left;
    width: auto;
  }

  .menu {
    align-self: inherit;
    margin-right: 20px;
    height: auto;
    position: relative;
    right: 0;
    width: auto;
    margin-top: 0;
  }

  .menu.active {
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
  }

  .menu ul {
    display: flex;
  }

  .menu.active ul {
    padding: 0;
  }

  .menu ul li {
    display: block;
    margin: 0;
    text-align: center;
  }

  .menu ul li {
    display: inline;
    margin-right: 20px;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }

  .menu-button {
    display: none;
  }

  .sidebarIconToggle {
    display: none;
  }
  main {
    margin-top: 0;
  }
}
/* END OF HEADER */

/* PAGE CONTENT */
main {
  padding: 0 16px;
}
main h1 {
  font-weight: 400;
  margin-bottom: 15px;
}
@media screen and (min-width: 920px) {
  main {
    max-width: 880px;
    margin: 0 auto;
  }
}
/* END OF PAGE CONTENT */

/* FOOTER */
footer {
  padding: 35px 0 65px 0;
  color: var(--text-color-main);
  font-size: 0.95rem;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: var(--text-color-main-link-hover);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
footer ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
footer li {
  padding: 0.55rem 0;
  display: block;
}
footer ul:first-child {
  margin-top: 0;
}

@media screen and (min-width: 920px) {
  footer {
    padding: 35px 20px 65px 20px;
    color: var(--text-color-main);
    font-size: 0.95rem;
    max-width: 880px;
    margin: 0 auto;
  }
  footer li {
    padding: 0.2rem 0;
    display: inline-block;
    margin: 0 7px;
  }
  footer .left-grid-2,
  footer footer .right-grid-2 {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
}
/* END OF FOOTER */

/* COMIC ARCHIVE */
.archive a {
  text-decoration: none;
  line-height: 2;
}
.archive a:hover {
  color: var(--text-color-main-link-hover);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
/* END OF COMIC ARCHIVE */

/* COMIC VIEWER */
.comic-viewer-container {
  margin: 0 auto;
}

.comic-viewer-image-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform-origin: 20% 25%;
  cursor: zoom-in;
}

.comic-viewer-image-container.zoom-on {
  cursor: zoom-out;
}

.comic-viewer-image-container.zoom-on:hover img {
  transform: scale(1.65);
}

.comic-viewer-container picture img {
  width: 100%;
  height: auto;
}

.comic-viewer-nav-links {
  margin: 10px auto 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.comic-viewer-nav-links a,
.comic-viewer-nav-links span {
  margin: 0 10px;
  color: var(--text-color-menu);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: all 500ms ease;
  font-size: 16px;
}

.comic-viewer-nav-links a:hover {
  color: var(--text-color-menu-hover);
}

.comic-viewer-ad-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 420px;
}
.comic-viewer-nav-links a.comic-viewer-first-button {
  margin-left: 0;
}
.comic-viewer-nav-links a.comic-viewer-prev-button {
  margin-right: 0;
}
.comic-viewer-nav-links a.comic-viewer-next-button {
  margin-left: 0;
}
.comic-viewer-nav-links a.comic-viewer-latest-button {
  margin-right: 0;
}
.comic-viewer-tip-jar,
.comic-viewer-share-link {
  margin: 20px 0;
  height: 50px;
  width: 48%;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  box-sizing: border-box;
  line-height: 50px;
  text-decoration: none;
  font-size: 1.075rem;
  letter-spacing: 0.1rem;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
  border: 2px solid var(--button-border-color);
  box-sizing: border-box;
}

.comic-viewer-tip-jar span,
.comic-viewer-share-link span {
  color: var(--button-text-color);
  transition: all 0.5s ease;
}

.comic-viewer-tip-jar:hover,
.comic-viewer-share-link:hover {
  background-color: var(--button-background-color-hover);
  color: var(--button-text-color-hover);
  transition: all 0.5s ease;
}

.comic-viewer-tip-jar span:hover,
.comic-viewer-share-link span:hover {
  color: var(--button-text-color-hover);
  transition: all 0.5s ease;
}

.comic-viewer-tip-jar {
  color: var(--tip-jar-button-text-color);
  background-color: var(--tip-jar-button-background-color);
  border: 2px solid var(--tip-jar-button-border-color);
}

.comic-viewer-tip-jar span {
  color: var(--tip-jar-button-text-color);
}

.comic-viewer-tip-jar:hover {
  background-color: var(--tip-jar-button-background-color-hover);
  color: var(--tip-jar-button-text-color-hover);
}

.comic-viewer-tip-jar span:hover {
  color: var(--tip-jar-button-text-color-hover);
}

.comic-viewer-tip-jar span,
.comic-viewer-share-link span {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.125rem;
}

.comic-viewer-tip-jar svg,
.comic-viewer-share-link svg {
  display: inline-block;
  width: 1.7rem;
  margin-left: 5px;
  margin-top: -0.125rem;
  vertical-align: middle;
}

.comic-viewer-description {
  text-align: center;
  margin: 10px auto;
  max-width: 650px;
  padding: 0 16px;
}

.comic-viewer-description h2 {
  font-size: 1.5rem;
  margin: 0;
}

.comic-viewer-description p {
  text-wrap: balance;
}

.comic-viewer-hidden-link {
  visibility: hidden;
}

.preloadingComics img {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 920px) {
  .comic-viewer-container {
    max-width: 880px;
  }

  #comic-viewer-comic {
    position: absolute;
    bottom: 0;
  }

  .comic-viewer-nav-links {
    max-width: 440px;
  }

  .comic-viewer-nav-links a.comic-viewer-first-button {
    margin-left: 10px;
  }

  .comic-viewer-nav-links a.comic-viewer-latest-button {
    margin-right: 10px;
  }
}
/* END OF COMIC VIEWER */
