---
layout: layouts/base.njk
pagination:
  data: comics
  size: 1
  alias: comic
  addAllPagesToCollections: true
permalink: "c/{{ comic.id }}.html"
---

{% set comicImagePath = ["src/assets/img/comic/", comic.id, ".jpg"] | join %}

{% set prevComicId = pagination.page.next.id %}
{% if prevComicId %}
  {% set prevComicImagePath = ["src/assets/img/comic/", prevComicId, ".jpg"] | join %}
{% endif %}
{% set nextComicId = pagination.page.previous.id %}
{% if nextComicId %}
  {% set nextComicImagePath = ["src/assets/img/comic/", nextComicId, ".jpg"] | join %}
{% endif %}

{% comicViewer
  id=comic.id,
  description=comic.description,
  imageUrl=comicImagePath,
  prevId=prevComicId,
  prevImageUrl=prevComicImagePath,
  nextId=nextComicId,
  nextImageUrl=nextComicImagePath,
  latestId=comics[0].id,
  comicTitle=comic.title,
  comicUrl=comic.url,
  tipJarUrl=comic.tipJarUrl
  %}