---
layout: layouts/base.njk
title: "Archive"
---
<main class="archive">
    <h1>{{ title }}</h1>
    <div>
        {% if comic.paginationDirection == "reverse" %}
            {% set comics = comics | reverse %}
        {% endif %}

        {% for comic in comics %}
            <a href="/c/{{ comic.id }}">{{ comic.id }}</a>{% if not loop.last %}  |  {% endif %}
        {% endfor %}
    </div>
</main>