---
layout: layouts/base.njk
title: "Archive"
pagination:
  data: comics
  size: 1
  alias: comic
permalink: "{{ comic.id | slugify }}"
eleventyAllowMissingExtension: true
---

<h1>{{ comic.id }}</h1>

{% set comicImagePath = ["src/assets/img/comic/", comic.id, ".jpg"] | join %}
{% image comicImagePath, comic.description, "(min-width: 30em) 50vw, 100vw" %}