---
layout: layouts/base.njk
title: "Archive"
pagination:
  data: comics
  size: 1
  alias: comic
permalink: "{{ comic.id | slugify }}"
eleventyAllowMissingExtension: true
---

{% set comicImagePath = ["src/assets/img/comic/", comic.id, ".jpg"] | join %}
{% set prevComicId = pagination.page.next.id %}
{% set prevComicImagePath = ["src/assets/img/comic/", prevComic, ".jpg"] | join %}
{% set nextComicId = pagination.page.previous.id %}
{% set nextComicImagePath = ["src/assets/img/comic/", nextComic, ".jpg"] | join %}

{% comicViewer
  id=comic.id,
  description=comic.description,
  imageUrl=comicImagePath,
  prevId=prevComicId,
  prevImageUrl=prevComicImagePath,
  nextId=nextComicId,
  nextImageUrl=nextComicImagePath,
  latestId=comics[0].id,
  comicTitle=comic.title,
  comicUrl=comic.url,
  tipJarUrl=comic.tipJarUrl
  %}