---
layout: layouts/base.njk
---

{% if comic.paginationDirection == "reverse" %}
    {% set comics = comics | reverse %}
    {% set nextComicId = comics[1].id %}
    {% if nextComicId %}
      {% set nextComicImagePath = ["src/assets/img/comic/", nextComicId, ".jpg"] | join %}
    {% endif %}
    {% set latestComic = comics[comics | length - 1] %}
{% else %}
    {% set prevComicId = comics[1].id %}
    {% if prevComicId %}
      {% set prevComicImagePath = ["src/assets/img/comic/", prevComicId, ".jpg"] | join %}
    {% endif %}
    {% set latestComic = comics[0] %}
{% endif %}

{% set comicImagePath = ["src/assets/img/comic/", comics[0].id, ".jpg"] | join %}

{% comicViewer
  id=comics[0].id,
  description=comics[0].description,
  imageUrl=comicImagePath,
  prevId=prevComicId,
  prevImageUrl=prevComicImagePath,
  nextId=nextComicId,
  nextImageUrl=nextComicImagePath,
  latestId=latestComic.id,
  comicTitle=comic.title,
  comicUrl=comic.url,
  tipJarUrl=comic.tipJarUrl
  %}